In [1]:
import pandas as pd
from pathlib import Path

In [2]:
# Save the Path and Read the File

In [3]:
data_file = Path("budget_data.csv")

In [4]:
data_file_df = pd.read_csv(data_file)
data_file_df

      Date  Profit/Losses
0   Jan-10        1088983
1   Feb-10        -354534
2   Mar-10         276622
3   Apr-10        -728133
4   May-10         852993
..     ...            ...
81  Oct-16        -729004
82  Nov-16        -112209
83  Dec-16         516313
84  Jan-17         607208
85  Feb-17         382539

[86 rows x 2 columns]

In [5]:
#Total Months

In [6]:
Total_Month = data_file_df['Date'].count()
Total_Month

86

In [7]:
#Total Profil Loss

In [8]:
Total = data_file_df['Profit/Losses'].sum()

In [9]:
print(f'${Total}')

$22564198

In [10]:
# To find the change in Profit/Loss

In [11]:
Difference_between_PL = data_file_df['Profit/Losses'].diff()

In [12]:
Difference_between_PL

0           NaN
1    -1443517.0
2      631156.0
3    -1004755.0
4     1581126.0
        ...
81   -1627245.0
82     616795.0
83     628522.0
84      90895.0
85    -224669.0
Name: Profit/Losses, Length: 86, dtype: float64

In [13]:
#Add Difference column to DF

In [14]:
data_file_df["Difference_between_PL"]= Difference_between_PL

In [15]:
data_file_df

      Date  Profit/Losses  Difference_between_PL
0   Jan-10        1088983                    NaN
1   Feb-10        -354534             -1443517.0
2   Mar-10         276622               631156.0
3   Apr-10        -728133             -1004755.0
4   May-10         852993              1581126.0
..     ...            ...                    ...
81  Oct-16        -729004             -1627245.0
82  Nov-16        -112209               616795.0
83  Dec-16         516313               628522.0
84  Jan-17         607208                90895.0
85  Feb-17         382539              -224669.0

[86 rows x 3 columns]

In [16]:
#Average of the Change

In [17]:
Average=data_file_df['Difference_between_PL'].mean()

In [18]:
print(f'Average Change:${Average}')

Average Change:$-8311.105882352942

In [19]:
# Greatest increase in profits (date and amount) over the entire period

In [20]:
Greatest_Increase = data_file_df['Difference_between_PL'].max()

In [21]:
Greatest_Increase

1862002.0

In [22]:
Greatest_Increase = round(int(Greatest_Increase))

In [23]:
GI = ( Greatest_Increase, data_file_df.loc[data_file_df["Difference_between_PL"]== 1862002.0, "Date"].values[0])

In [24]:
# Greatest decrease in profits (date and amount) over the entire period

In [25]:
Greatest_decrease = data_file_df['Difference_between_PL'].min()

In [26]:
Greatest_decrease

-1825558.0

In [27]:
Greatest_decrease = round(int(Greatest_decrease))

In [28]:
GD = ( Greatest_decrease, data_file_df.loc[data_file_df["Difference_between_PL"]== -1825558.0, "Date"].values[0])

In [29]:
output = (
    
    f'" Financial Analysis\n"'
    f'" ---------------------------------\n"'
    f'" Total Months :{Total_Month}\n"'
    f'" Total: ${Total}\n"'
    f'" Average Change :${Average:.2f}\n"'
    f'" Greatest Increase in Profits:${GI}\n"'
    f'" Greatese decrease in Profits:${GD}\n"')

In [30]:
#Print output to the terminal
print(output)

" Financial Analysis
"" ---------------------------------
"" Total Months :86
"" Total: $22564198
"" Average Change :$-8311.11
"" Greatest Increase in Profits:$(1862002, 'Aug-16')
"" Greatese decrease in Profits:$(-1825558, 'Feb-14')
"

In [31]:
with open('file.txt', "w") as txt_file:
    txt_file.write(output)